<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

    <div class="login">
        <div class="login-header">
            <h1>Login</h1>
        </div>
        <div class="login-form">
            <form action="/login" method="POST">
                <h3>Username:</h3>
                <input name="username" type="text" placeholder="Username" /><br>
                <h3>Password:</h3>
                <input name="password" type="password" placeholder="Password" />
                <br>
                <input type="submit" value="Login" class="login-button" />
                <br>
            </form>
        </div>
    </div>



    <script src="/static/js/main.js"></script>
</body>
</html>